/* FONT IMPORTS AND STYLE RULES */
/* ROBOTO MONO - HEADINGS */
/* CSS rules to specify families - font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

/* GENERAL STYLINGS & HELPER CLASSES */

body {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

.roboto-font {
    font-family: 'Roboto Mono', monospace;
}


.form-div {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

/* NUMBER SPINNER DISABLE - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

/* BASE.HTML STYLINGS----------------------------------------------------------------------------- */

.bg-dark {
    background-color: #759252!important;
}

.logo-text {
    margin-left: 0.5rem;
    font-size: 130%;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar-brand > .logo {
    line-height: 70px;
}

.nav-item {
    margin-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}

.logged-in-as {
    font-size: 15px;
    color: rgba(255,255,255,.55);
    padding-top: 0.5rem;
}

/* INDEX.HTML STYLINGS ------------------------------------------------------------------------------ */

.add-btn-custom {
    background-color: #2D7968;
    border-color: #2D7968;
}

.add-btn-custom:hover {
    background-color: #E8BD6E;
    border-color: #E8BD6E;
    color: #000;
}

.complaint-status-icon {
    font-size: 1.5rem;
    margin-left: 10px;
}

.accordion-function-button-container {
    height: 50%;
}

.edit-btn-custom {
    background-color: #E8BD6E;
    border-color: #E8BD6E;
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 10px;
}

.edit-btn-custom:hover {
    color: #fff;
    background-color: #1D696B;
    border-color: #1D696B;
}

.delete-btn-custom {
    background-color: #eb3939;
    border-color: #eb3939;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 10px;
}

.delete-btn-custom:hover {
    color: #fff;
    background-color: #43493A;
    border-color: #43493A;
}

.cancel-btn-custom {
    margin-top: 10px;
    background-color: #2D7968;
    border-color: #2D7968;
}

.cancel-btn-custom:hover {
    color: #000;
    background-color: #E8BD6E;
    border-color: #E8BD6E;
}


#expand-accordion-text-area {
    width: 95%;
    height: 100px;
}

/* MOBILE STYLINGS ---------------------------------------------------------------------------------- */

.mobile-complaint-header-label {
    font-weight: 700;
}


.larger-screen-accordion-header-container {
    padding-left: 20px;
    padding-right: 40px;
}














/* @media only screen and (max-width:576px) {
    
    .larger-screen-accordion-header-container {
        display: none;
    }
    
    .complaint-list-info-container {
        display: block;
    }

    .complaint-list-info {
        margin-bottom: 15px;
    }

    .mobile-complaint-header-label {
        display: inline-block;
        font-weight: 700;
    }
}















/* .complaint-list-info-container, .larger-screen-accordion-header-container {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
} */

.accordion-header-item {
    font-weight: 600;
}

/* .accordion-header-item > p {
    max-width: 90%;
} */

/* .complaint-list-info .accordion-header-item {
    width: 16%;
} */

.accordion-button:focus {
    border-color: none;
    box-shadow: 0 0 0 0.25rem rgba(117, 146, 82, 0.4);
}



.modal-title {
    color: whitesmoke;
}


.modal-header {
    background-color: #759252;
}


footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

/* ACCOUNTS FORMS CUSTOMER STYLINGS */

.custom-container {
    margin-top: 4rem;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 8px;
}





.accordion-button:not(.collapsed) {
    color: #000;
    background-color: rgba(117, 146, 82, 0.3);
}