{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col text-center">
            <h1 class="roboto-font-bolder mt-5">
                <i class="fas fa-exclamation-triangle"></i> Error 500!
            </h1>
            <h3 class="roboto-font-bolder">
                That's our bad, looks like a problem with our server!
            </h3>
            <a href="{% url 'home' %}" class="text-decoration-none mt-5">
                <h4 class="roboto-font-bold">
                    Let's get you home <i class="fas fa-home"></i>
                </h4>
            </a>
            
        </div>
    </div>
</div>
{% endblock %}