{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- COMPLAINT FORM -->
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 mt-4 form-div">
            <form method="POST" action="/add-complaint">
                <h3 class="form-heading roboto-font">Add a complaint</h3>
                {% csrf_token %}
                <!-- LOG NUMBER INPUT -->
                <div class="form-floating mb-3">
                    <input class="form-control" id="log_number" name="log_number" type="text"
                        placeholder="Complaint Log Number" data-sb-validations="required" maxlength="10" pattern="\d*"
                        required />
                    <small class="form-text text-muted">
                        The log number should contain numbers only and a maximum of 10 characters.
                    </small>
                    <label for="log_number">Complaint Log Number</label>
                    <div class="invalid-feedback" data-sb-feedback="log_number:required">Complaint Log Number is
                        required.
                    </div>
                </div>
                <!-- CUSTOMER SURNAME INPUT -->
                <div class="form-floating mb-3">
                    <input class="form-control" id="customer_surname" name="customer_surname" type="text"
                        placeholder="Customer Surname" data-sb-validations="required" maxlength="40" required />
                    <small class="form-text text-muted">
                        Maximum of 40 characters.
                    </small>
                    <label for="customer_surname">Customer Surname</label>
                    <div class="invalid-feedback" data-sb-feedback="customer_surname:required">Customer Surname is
                        required.</div>
                </div>
                <!-- COMPLAINT CATEGORY INPUT -->
                <div class="form-floating mb-3">
                    <input class="form-control" id="complaint_category" name="complaint_category" type="text"
                        placeholder="Complaint Category" data-sb-validations="required" maxlength="100" required/>
                    <small class="form-text text-muted">
                        Maximum of 100 characters.
                    </small>
                    <label for="complaint_category">Complaint Category</label>
                    <div class="invalid-feedback" data-sb-feedback="complaint_categoryrequired">Complaint Category is
                        required.</div>
                </div>
                <!-- DATE LOGGED INPUT -->
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="date_logged" name="date_logged" required>
                    <label for="date_logged">Date complaint was logged</label>
                </div>
                <!-- CASE OWNER INPUT (READ ONLY - LOCKED TO USERNAME OF LOGGED IN USER) -->
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" name="case_owner" id="case_owner" value="{{user.username}}"
                        aria-label="This input is disabled and locked to your user id." readonly required />
                    <label for="case_owner">Case Owner</label>
                    <div class="invalid-feedback" data-sb-feedback="case_owner:required">Case Owner is required.</div>
                </div>
                <!-- COMPLAINT STATUS SWITCHES -->
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <!-- WELCOME EMAIL SWITCH -->
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="welcome_email" type="checkbox" name="welcome_email"
                                    value="true" />
                                <label class="form-check-label" for="welcome_email">Welcome email sent</label>
                            </div>
                        </div>
                        <!-- CUSTOMER CONTACTED SWITCH -->
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="customer_contacted" type="checkbox"
                                    name="customer_contacted" value="true" />
                                <label class="form-check-label" for="customer_contacted">Customer contacted</label>
                            </div>
                        </div>
                        <!-- HOLDING CORRESPONDENCE SWITCH -->
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="holding_correspondence" type="checkbox"
                                    name="holding_correspondence" value="true" />
                                <label class="form-check-label" for="holding_correspondence">Holding correspondence
                                    sent</label>
                            </div>
                        </div>
                        <!-- OUTSTANDING ACTIONS SWITCH -->
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="outstanding_actions" type="checkbox"
                                    name="outstanding_actions" value="true" />
                                <label class="form-check-label" for="outstanding_actions">Outstanding actions</label>
                            </div>
                        </div>
                    </div>
                    <!-- LATEST UPDATE TEXT AREA -->
                    <div class="col-md-6 col-lg-7">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="latest_update" name="latest_update"
                                placeholder="Latest Update" style="height: 10rem;" data-sb-validations="required"
                                maxlength="250" required></textarea>
                            <small class="form-text text-muted">
                                Maximum of 250 characters.
                            </small>
                            <label for="latest_update">Latest Update</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3 d-flex justify-content-around">
                    <button type="reset" class="btn btn-warning btn-lg reset-btn-custom roboto-font"><i
                            class="fas fa-undo-alt"></i> Reset
                    </button>
                    <button type="submit" class="btn btn-primary btn-lg submit-btn-custom roboto-font"><i
                            class="far fa-save"></i> Save
                        Complaint</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}