{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ADD COMPLAINT BUTTON & COMPLAINT LIST CONTENT -->
<div class="container-lg">
    <!-- ADD COMPLAINT BUTTON ROW -->
    <div class="row">
        <div class="col-sm-12 mt-4 d-flex justify-content-center">
            <a href="{% url 'add-complaint' %}" class="btn btn-primary btn-lg add-btn-custom roboto-font">
                <i class="fas fa-plus-circle"></i> Add Complaint
            </a>
        </div>
    </div>
    <!-- CHECKS IF THERE ARE COMPLAINTS IN THE DATABASE FOR THE USER AND DISPLAYS THEM -->
    {% if complaint_list|length %}
        <div class="row">
            <div class="col-sm-12 mt-4 mb-4">
                    <!-- HEADER GRID - THIS IS DISPLAYED ON LARGER SCREEN SIZES AND SET TO DISPLAY NONE ON TABLETS AND MOBILE -->
                    <div class="accordion-header-grid-parent">
                        <div class="accordion-header-item roboto-font">
                            <p>Log Number:</p>
                        </div>
                        <div class="accordion-header-item roboto-font">
                            <p>Customer Surname:</p>
                        </div>
                        <div class="accordion-header-item roboto-font">
                            <p>Date Logged:</p>
                        </div>
                        <div class="accordion-header-item roboto-font">
                            <p>Complaint Category:</p>
                        </div>
                        <div class="accordion-header-item roboto-font">
                            <p>Case Owner:</p>
                        </div>
                    </div>
                {% for complaint in complaint_list %}
                <div class="accordion" id="complaintAccordion">
                    <div class="accordion-item">
                        <div class="accordion-header" id="complaintHeading">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" role="button"
                                data-bs-target="#collapse{{ complaint.log_number }}" aria-expanded="true"
                                aria-controls="collapse{{complaint.log_number}}">
                                <!-- THE INFORMATION WITHIN IS SET TO GRID DISPLAY ON LARGER SCREEN SIZES -->
                                <div class="accordion-grid-parent">
                                    <div class=" d-sm-block mb-2">
                                        <span class="mobile-complaint-header-label d-md-none d-lg-none roboto-font">Log Number:</span>
                                        <span id="complaintLogNumber">{{ complaint.log_number }}</span> 
                                    </div>
                                    <div class="d-sm-block mb-2">
                                        <span class="mobile-complaint-header-label d-md-none d-lg-none roboto-font">Cust
                                        Surname:</span> {{ complaint.customer_surname }}
                                </div>
                                <div class="d-sm-block mb-2">
                                    <span class="mobile-complaint-header-label d-md-none d-lg-none roboto-font">Date
                                        Logged:</span> {{ complaint.date_logged|date:'d/m/Y' }}
                                </div>
                                <div class="d-sm-block mb-2">
                                    <span class="mobile-complaint-header-label d-md-none d-lg-none roboto-font">Complaint
                                        Cat:</span> {{ complaint.complaint_category }}
                                </div>
                                <div class="d-sm-block mb-2">
                                    <span class="mobile-complaint-header-label d-md-none d-lg-none roboto-font">Case
                                        Owner:</span> {{ complaint.case_owner }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapse{{complaint.log_number}}" class="accordion-collapse collapse"
                        aria-labelledby="complaintHeading" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-5">
                                    <h5 class="roboto-font">Complaint Status Breakdown</h5>
                                    {% if complaint.welcome_email %}
                                    <div>
                                        <p>Welcome Email - Sent <i class="fas fa-check-circle complaint-status-icon"></i>
                                        </p>
                                    </div>
                                    {% else %}
                                    <div>
                                        <p>Welcome Email - Not sent <i
                                                class="fas fa-exclamation-circle complaint-status-icon"></i></p>
                                    </div>
                                    {% endif %}
                                    {% if complaint.customer_contacted %}
                                    <div>
                                        <p>Customer has been contacted <i class="fas fa-comments complaint-status-icon"></i>
                                        </p>
                                    </div>
                                    {% else %}
                                    <div>
                                        <p>No contact established with the customer <i
                                                class="fas fa-comment-slash complaint-status-icon"></i>
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% if complaint.holding_correspondence %}
                                    <div>
                                        <p>Holding comms have been sent <i
                                                class="fas fa-hourglass-half complaint-status-icon"></i></p>
                                    </div>
                                    {% else %}
                                    <div>
                                        <p>Holding comms not sent/not required <i
                                                class="fas fa-play-circle complaint-status-icon"></i>
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% if complaint.outstanding_actions %}
                                    <div>
                                        <p>Outstanding actions (read latest update) <i
                                                class="fas fa-exclamation-circle complaint-status-icon"></i></p>
                                    </div>
                                    {% else %}
                                    <div>
                                        <p>There are no present outstanding actions <i
                                                class="fas fa-check-circle complaint-status-icon"></i></p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-5">
                                    <h5 class="roboto-font">Latest Update:</h5>
                                    <div><textarea class="form-control" id="expand-accordion-text-area"
                                            readonly>{{ complaint.latest_update }}</textarea></div>
                                </div>
                                <div class="col-sm-12 col-lg-2 accordion-function-button-container">
                                    <!-- EDIT COMPLAINT BUTTON -->
                                    <a href="{% url 'edit-complaint' complaint.log_number %}" class="btn btn-primary edit-btn-custom roboto-font"><i
                                        class="fas fa-edit"></i> Edit Complaint</a>
                                    <!-- DELETE COMPLAINT BUTTON - THIS TRIGGERS MODAL TO ENSURE THAT COMPLAINTS ARE NOT DELETED UNINTENIONALLY -->
                                    <button type="button" class="btn btn-warning delete-btn-custom roboto-font"
                                        data-bs-toggle="modal" data-bs-target="#deleteComplaint{{ complaint.log_number }}"
                                        id="triggerDeleteModal"><i class="far fa-trash-alt"></i>
                                        Delete Complaint
                                    </button>
                                </div>
                            </div>
                        </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <!-- CHECKS IF THE STRUCTURE SHOULD BE PAGINATED BASE ON VIEW AND PAGINATES IF THERE ARE MORE THAN TEN ENTRIES ONTO SEPERATE PAGES -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-3">
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary add-btn-custom roboto-font">
                            <i class="fas fa-arrow-circle-left"></i> Prev
                        </a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-large add-btn-custom roboto-font-bold">
                            Next <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </li>

                    {% endif %}
                </ul>
            </nav>
    {% endif %}
    <!-- ELSE STATEMENT TO COMPLAINT LIST CHECK WHICH DISPLAYS CONTENT IF THE USER HAS NO COMPLAINTS -->
    {% else %}
    <div class="text-center text-muted roboto-font mt-5">
        <h3>You have no complaints allocated to you. You can add a complaint with the "Add Complaint" button above.</h3>
    </div>
    {% endif %}
    <!-- MODAL FOR DELETING COMPLAINTS ARE RENDERED ALONG WITH EACH ITEM IN THE COMPLAINT LIST THEY ARE APPROPRIATLEY 
        ID'd WITH THE LOG NUMBER WHICH IS THE PRIMARY KEY IN THE DATABASE THIS ALLOWS EACH COMPLAINT ITEM TO OPEN THE CORRECT MODAL -->
    {% for complaint in complaint_list %}
        <div class="modal fade" id="deleteComplaint{{complaint.log_number}}" tabindex="-1"
            aria-labelledby="deleteComplaint" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title roboto-font" id="deleteComplaint">Feeding your complaint to the Alli_cator?
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>Are you sure you would like to delete complaint: {{ complaint.log_number }}</h5>
                        <p>You should only delete a complaint if:</p>
                        <ul>
                            <li>You have been in contact with the customer and provided a fair outcome.</li>
                            <li>You have attempted to contact the customer via all available channels and they have not
                                responded.</li>
                        </ul>
                        <p>Please choose one of the options below.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cancel-btn-custom roboto-font"
                            data-bs-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancel</button>
                        <a href="/delete-complaint/{{complaint.log_number}}" id="confirmDeleteButton" class="btn btn-primary delete-btn-custom roboto-font">
                            <i class="far fa-trash-alt"></i> Delete Complaint
                        </a>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}